@import "tailwindcss";

:root {
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-cera: var(--font-cera-pro);
  --font-clash-display: var(--font-clash-display);
}

